<div class = "body">
	<div class ="container">
     <p id = "notice"></p>
     <%= render 'newform', user: current_user, book: @book %>
    </div>
</div>

<div class ="col-xs-9">
	<h1> Books </h1>
	<table class = "table table-striped">
		<thead>
			<tr>